@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

:root{
  --cor-primaria: #F8EDE3;
  --cor-secundaria: #594545;
  --cor-terciaria: #FFF8EA;
  --cor-hover: #9E7676;
}

.corpo{
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-family: 'Lato', sans-serif;
}

.cabecalho{
  background-color: var(--cor-terciaria);

}

  .cabecalho__menu{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 1% 10%;
  }

  .cabecalho__menu__link{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Krona One', sans-serif;;
  }

  .projeto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1%;
  }

  .titulo{
    color: var(--cor-secundaria);
    font-family: 'Lato', sans-serif;
    
  }

  .texto{
    color: var(--cor-secundaria);
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 1.25rem;
  }



