@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

:root{
  --cor-primaria: #3A98B9;
  --cor-secundaria: #EEEEEE;
  --cor-terciaria: #E8D5C4;
  --cor-hover: #FFF1DC;
}

.corpo{
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-family: 'Lato', sans-serif;
}

.cabecalho{
  background-color: var(--cor-terciaria);

}

  .cabecalho__menu{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 1% 10%;
  }

  .cabecalho__menu__link{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Krona One', sans-serif;;
  }



